---
layout: archive
permalink: /year-archive/
title: "Blogs"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<ol class="blog-list">
{% for post in site.posts %}
  <li>
    <div class="blog-list__date">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        <span>{{ post.date | date: "%b" }}</span>
        <strong>{{ post.date | date: "%d" }}</strong>
        <span>{{ post.date | date: "%Y" }}</span>
      </time>
    </div>
    <div class="blog-list__body">
      <a class="blog-list__title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.excerpt %}
        <p>{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 190 }}</p>
      {% endif %}
      {% if post.tags and post.tags.size > 0 %}
        <div class="blog-list__tags" aria-label="{{ post.title }} tags">
          {% for tag in post.tags limit:3 %}
            <span>{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ol>
