---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<main id="main" role="main" class="{% if page.blog_tag_filter %}blog-filter-layout{% elsif page.author_profile or layout.author_profile or page.sidebar %}{% else %}archive-layout--full{% endif %}">
  {% if page.author_profile or layout.author_profile or page.sidebar or page.blog_tag_filter %}
    {% include sidebar.html %}
  {% endif %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</main>
